@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.product-card__header{
    color: #FFFAFA;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
    width: 35vw;
}

.product-card__model{
    color: rgba(255, 250, 250, 0.90);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.product-card__price {
    display: grid;
    width: 25vw;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(2, auto);
    gap: 0px 10px;    
    margin-bottom: 30px;
}

.product-card__price > :nth-child(odd) {
    text-align: left;
}

.product-card__price-valid{
    color: #FFFAFA;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.product-card__price-unvalid{
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: line-through;
}

.product-card__price-discount{
    color: #C10C99;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.product-card__size-container{
    width: 30vw;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product-card__size-heading{
    color: #CACACA;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.product-card__size-elements{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

.product-card__size-el-container{
    display: flex;
    padding: 5px 7px;
    align-items: center;
    gap: 6px;
    border-radius: 6px;
    background: #F3F3F3;
    justify-content: center;
}

.product-card__size-el-text{
    font-family: 'Poppins', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.8;
}

.product-card__size-input{
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.product-card__btn-container{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.quantity-container{
    width: 20%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    height: 45px;
    flex-shrink: 0;
    border-radius: 23px;
    background: #F3F3F3;
    justify-content: center;
    padding: 3px;
}

.minus-btn, 
.plus-btn {
    width: 10%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #C10C99;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.quantity-num{
    width: 70%;
    text-align: center;
    border: none;
    color: #C10C99;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.add-to-basket__button{
    width: 40%;
    border-radius: 23px;
    background: #C10C99;
    color: white;
    cursor: pointer;
}

.product-card__description-header{
    color: #FFFAFA;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.product-card__description{
    color: #CACACA;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 35vw;
    margin-bottom: 20px;
}


@media (max-width: 1040px) {
    
    .product-card__price {
        width: 37vw;
    }
}

@media (max-width: 1000px) {
    .quantity-container{
        width: 30%;
    }

    .product-card__size-container{
        width: 35vw;
    }
    
    .product-card__price {
        display: grid;
        width: 37vw;
    }
}

@media (max-width: 767px) {

    .product-card__header{
        font-size: 25px;
    }

    .product-card__model{
        font-size: 15px;
    }

    .product-card__price {
        margin-bottom: 15px;
    }

    .product-card__price-valid{
        font-size: 16px;
    }
    
    .product-card__price-unvalid{
        font-size: 16px;
    }
    
    .product-card__price-discount{
        font-size: 15px;
    }

    .product-card__size-heading{
        font-size: 15px;
    }

    .product-card__size-el-text{
        font-size: 10px;
    }

    .quantity-container{
        width: 35%;
    }

    .minus-btn, 
    .plus-btn {
    font-size: 15px;
    }

    .quantity-num{
        font-size: 15px;
    }

    .product-card__description-header{
        font-size: 15px;
        margin-bottom: 10px;
    }

    .product-card__description{
        font-size: 12px;
    }

}

@media (max-width: 550px) {
    .product-card__header{
        width: 90vw;
        text-align: center;
    }

    .product-card__model{
        width: 90vw;
        text-align: center;
    }

    .product-card__price{
        width: 40vw;
        justify-content: center;
        align-items: center;
        margin: 0px;
        margin-bottom: 10px;
    }

    .product-card__price-valid{
        font-size: 20px;
        text-align: right;
    }
    
    .product-card__price-unvalid{
        font-size: 20px;
        text-align: right;
    }
    
    .product-card__price-discount{
        font-size: 15px;
        text-align: right;
    }

    .product-card__size-container{
        width: 90vw;
    }

    .product-card__size-heading{
        font-size: 15px;
        width: 90vw;
        text-align: center;
    }

    .product-card__size-elements{
        width: 90vw;
        align-items: center;
        justify-content: center;
    }

    .product-card__size-el-text{
        font-size: 13px;
        text-align: center;
    }

    .product-card__btn-container{
        width: 90vw;
        align-items: center;
        justify-content: center;
    }

    .add-to-basket__button{
        height: 45px;
    }

    .quantity-container{
        width: 35%;
    }

    .minus-btn, 
    .plus-btn {
    font-size: 15px;
    }

    .quantity-num{
        font-size: 15px;
    }

    .product-card__description-header{
        width: 90vw;
        text-align: center;
    }

    .product-card__description{
        width: 90vw;
        text-align: center;
    }
}
