@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.product-card__header{
    color: #FFFAFA;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 10px;
    width: 35vw;
}

.product-card__model{
    color: rgba(255, 250, 250, 0.90);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.product-card__price {
    display: grid;
    width: 20vw;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(2, auto);
    gap: 0px 10px;    
    margin-bottom: 30px;
}

.product-card__price-valid{
    color: #FFFAFA;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.product-card__price-unvalid{
    color: #666;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: line-through;
}

.product-card__price-discount{
    color: #C10C99;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.product-card__btn-container{
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
}

.quantity-container{
    width: 20%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    height: 45px;
    flex-shrink: 0;
    border-radius: 23px;
    background: #F3F3F3;
    justify-content: center;
    padding: 3px;
}

.minus-btn, 
.plus-btn {
    width: 10%;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #C10C99;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.quantity-num{
    width: 70%;
    text-align: center;
    border: none;
    color: #C10C99;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.add-to-basket__button{
    width: 40%;
    border-radius: 23px;
    background: #C10C99;
    color: white;
    cursor: pointer;
}

.product-card__description-header{
    color: #FFFAFA;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.product-card__description{
    color: #CACACA;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 35vw;
    margin-bottom: 30px;
}
