@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.ourTeam-wrapper {
display: flex;
flex-direction: column;
width: 30%;
height: auto;
border-radius: 30px;
font-family: 'Poppins', sans-serif;
border: 1px solid white;
margin-bottom: 5vh;
margin-right: 20px;
margin-left: 20px;
font-size: 1.2vw;
}

.imgBox {
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 80%,  0 90%);
}

.fotoPerson.kat {
  background: url('./assets/Katerina.jpg') no-repeat;
}

.fotoPerson.vika {
  background: url('./assets/Viktoriya.jpg') no-repeat;
}

.fotoPerson.vova {
  background: url('./assets/Vladimir.jpg') no-repeat;
}

.fotoPerson.kat, .fotoPerson.vika, .fotoPerson.vova {
  background-size: 100%;
  width: 100%;
  height: 42vh;
  border-radius: 30px;
  border: 1px solid white;
}

.infoBox-wrapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 6vw;
  margin-top: -10vh;
  height: 11vh;
  clip-path: polygon(0% 30%, 100% 0, 100% 100%, 0 80%);
  background-color: #C10C99;
}

.bioBox-wrapp {
  background-color: #D9D9D9;
  color: black;
  padding: 10px;
  padding-top: 60px;
  padding-bottom: 10px;
  margin-top: -50px;
  font-weight: 500;
  border-radius: 30px;
  border: 1px solid white;
  font-size: 1.2vw;
}

.linkBox {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
}

.linkBox.move {
  padding-left: 1vw;
}

.iconGit {
  cursor: pointer;
  background: url('./assets/git.png');
  background-size: contain;
  width: 30px;
  height: 30px;
}

.iconIn {
  cursor: pointer;
  background: url('./assets/in.png');
  background-size: contain;
  width: 38px;
  height: 38px;
  margin-left: 10px;
}

.iconIn.hide {
  display: none;
}
@media (max-width: 1250px) {
  .ourTeam-wrapper {
    width: 90%;
  }
}
@media (max-width: 900px) {
  .ourTeam-wrapper {
    width: 70%;
  }
  .fotoPerson.kat, .fotoPerson.vika, .fotoPerson.vova {
    height: 36vh;
  }
}

@media (max-width: 750px) {
  .fotoPerson.kat, .fotoPerson.vika, .fotoPerson.vova {
    height: 52vh;
  }
}

@media (max-width: 630px) {
  .fotoPerson.kat, .fotoPerson.vika, .fotoPerson.vova {
    height: 305px;
  }
}
@media (max-width: 450px) {
  .fotoPerson.kat, .fotoPerson.vika, .fotoPerson.vova {
    height: 260px;
  }
}