.zoom-swiper  {
    visibility: visible;
    width: 75vw;
    height: 70vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.zoom-swiper .swiper-wrapper{
    width: 80%;
}

@media (max-width: 550px) {
    .zoom-swiper {
      width: 90vw;
      height: 80vh;
      margin-top: 5vh;
      overflow: hidden;
    }
    
    .zoom-swiper .swiper-slide img{
        background-size: contain;
        background-position: center;
        transform: scale(1.3);
        transform-origin: center;
    }
}


