.wrapper {
  width: 100%;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10px;
}

.loginForm-container {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.loginForm-header {
  margin-bottom: 20px;
  text-align: center;
}

.checkbox-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
 }

.box {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-label{
  margin-bottom: 1px;
  padding-top: 10px;
  font-size: 16px;
}

.email-input, .pass-input {
  width: 100%;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}
.loginBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 1px 1px 2px 0px rgba(34, 60, 80, 0.2);
}

.loginBtn:hover {
  background-color: aquamarine;
}
.reg-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  
}
.regText {
  font-size: 14px;
}
.regBtn {
  border: none; 
  outline: none;
  background-color: white;
  color: red;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  padding-left: 10px;
  letter-spacing: 0.5px;
}
.regBtn:hover {
  color: blue;
}
.rem-label, .show-label {
  width: 30%;
  font-size: 14px;
  margin-left: 3px;
}


.rem-input, .show-input {
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 5px;
}


.errorMail, .errorPass {
  width: 60%;
  white-space: pre;
  font-size: 12px;
  color: red;
  display: none;
}